body{
    font-family: open sans,sans-serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: 300;
    color: #656565;
    overflow-x: hidden!important;
    -webkit-font-smoothing: antialiased
}

.search-info{
    display: flex;
    width: 100%;
    height: 100px;
    position: absolute;
    opacity: 0;
    z-index: 100;
    outline: none;
    background: rgb(15, 14, 14);
    color: #fff;
}

.appear-search-info{
    transition: 1s;
    opacity: 1;
}

.search-info .exit{
    cursor: pointer;
}

.search-info form{
    width: 100%;
    position: absolute;
    padding: 30px 0px 30px 40px
}

.search-info input{
    height: 40px;
    width: 100%;
    background: rgb(15, 14, 14);
    outline: none;
    border: 0px;
    color: #fff;
}

.banner{
    top: 0px;
    left: 0px;
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
}

.background-img{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.star {
    animation: star 10s ease-out infinite;
    height: 100%;
    width: 100%;
    opacity: 0;
    display: none;
}

.skip-image{
    opacity: 1 !important;
    display: block !important;
}

.none{
    opacity: 0;
    display: none;
}
@keyframes star {
    0% {
      opacity: 0;
      transform: scale(1.05) translateY(-0.25em);
    }
    20% {
      opacity: 1;
    }
    89% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: translateZ(-1000em);
    }
}

.banner header{
    position: relative;
    width: 100%;
    display: block;
    height: 100px
}

.banner .nav-bar{
    position: absolute;
    padding: 0px 40px;
    height: 100px;
    width: 100%;
    z-index: 101;
}

.banner .logo{
    position: absolute;
    width: 141px;
    height: 100px;
}

.banner .logo-left{
    width: 141px;
    height: 67px;
    position: absolute;
    bottom: 17px;
}

.banner .menu-postion-right{
    height: 100px;
    height: 100px;
    width: auto;
    position: absolute;
    right: 0;
}

.menu-postion-right .category li{
    list-style: none;
    padding: 0px 23px;
    height: 100%;
    float: left;
    position: relative;
}

.menu-postion-right .category a{
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    position: relative;
}

.menu-postion-right .category a::before{
    content: "";
    position: absolute;
    right: 0;
    width: 0;
    height: 1px;
    bottom: 35px;
    background-color: currentColor;
    transition: 0.5s;
}

.menu-postion-right .category a:hover::before{
    width: 100%;
    left: 0;
    bottom: 35px;
    transition: 0.5s;
}

.menu-postion-right .category li:nth-child(1) a::before{
    width: 100%;
    left: 0;
    bottom: 35px;
}

.menu-postion-right .category a:active::before{
    width: 100%;
    left: 0;
    bottom: 35px;
}


.list-menu .cart, .search, .bar-info{
    padding: 0 12px;
    position: relative;
    top: -42px;
}

.list-menu .cart a, .search i, .bar-info i, .exit i{
    cursor: pointer;
    color: #fff;
    font-size: 16px;
}

.nav-bar-mobile{
    display: none;
}

@media (max-width: 991px){

    .menu-postion-right, .nav-bar{
        display: none;
    }

    .container{
        padding: 0px !important;    
    }

    .nav-bar-mobile{
        display: block;
        height: 70px;
        width: 100%;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 999;
    }

    .banner-nav-bar{
        width: 100%;
        height: 100%;
        background-color: white;
        position: absolute;
    }

    .logo-mobile{
        position: relative;
        display: block;
        height: 100%;
        text-align: center;
    }

    .search-info{
        display: none;
    }

    .menu-mobile{
        z-index: 2;
        cursor: pointer;
        top: 19px;
        position: absolute;
    }

    .menu-mobile:hover span{
        color: rgba(214, 167, 11, 0.823);
        transition: 0.5s;
    }

    .menu-mobile span{
        font-size: 20px;
    }

    .menu-mobile, .menu-mobile span{
        display: inline-block;
        width: 19px;
        height: 31px;
    }

    .banner header{
        position: relative;
        width: 100%;
        display: block;
        height: 70px;
    }

    .hidden-menu{
        top: 0px;
        left: 0px;
        position: fixed;
        width: 200px;
        height: 100vh;
        transform: translateX(-100%);
        background-color: rgb(255, 255, 255);
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.5s ease-in-out;
        overflow-y: scroll;
    }

    .appear-menu{
        transform: translateX(0);
    }

    .shadow-of-menu{
        background-color: rgba(110, 108, 108, 0.8);
        position: fixed;
        top:0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        z-index: 200;
    }

    .hidden{
        visibility: hidden;
    }

    .appear-shadow{
        visibility: visible;
    }

    .content-menu{
        padding: 40px 0px;
        position: absolute;
        width: 100%;
        height: auto;
        display: block;
    }

    .close-menu{
        display: inline-block;
        width: auto;
        height: auto;
        position: relative;
        cursor: pointer;
    }
    .style-list-menu ul{
        list-style: none;
        padding: 30px 0px;
        margin: 0px;
    }
    
    .style-list-menu{
        position: relative;
        display: block;
        width: auto;
        height: auto;
        padding: 20px 0px;
    }

    .list-menu-mobile ul li{
        position: relative;
        width: auto;
        height: auto;
        cursor: pointer;
    }
    .list-menu-mobile ul .border-bottom::after{
        content: "";
        border-bottom: 1px solid black;
        width: 100%;
        position: relative;
        bottom: 8px;
        left: 0px;
        top: 3px;
        display: block;
    }

    .list-menu-mobile li a{
        color: rgb(0,0,0);
        width: 100% !important;
        display: block;
    }

    .list-menu-mobile li a:hover{
        text-decoration: none;
    }

    .arrow-right{
        position: absolute;
        right: 10px;
        cursor: pointer;
        top: 0px;
    }

    .hidden-arrow{
        visibility: hidden;
    }

    .abc{
        visibility: visible !important;
        height: 149px !important;
        opacity: 1 !important;
    }

    .abcd{
        visibility: visible !important;
        height: 115px !important;
        opacity: 1 !important;
    }

    .list-menu-mobile .menu-mobile-children{
        padding: 13px 0px 0px 15px;
        visibility: hidden;
        height: 0px;
        opacity: 0;
        transition: height 0.5s;
    }

    .menu-mobile-children li{
        padding-bottom: 10px !important;
    }

    .list-menu-mobile .menu-mobile-children li::after{
        content: "";
        border-bottom: 1px dotted black;
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 8px;
        left: 0px;
        top: 25px;
    }
}

.menu-of-home, .menu-of-page, .menu-of-portfolio, .menu-of-blog, .menu-of-shop{
    left: 0px;
    background-color: #1d1d1d;
    padding: 0px;
    position: absolute;
    width: 200px;
    height: 0px; 
    visibility: hidden; 
    opacity: 0; 
    overflow: hidden;
}

.menu-of-page{
    width: 220px;
}

.category li .menu-of-home li, .category li .menu-of-page li, .category li .menu-of-portfolio li, .category li .menu-of-blog li, .category li .menu-of-shop li{
    display: block;
    float: none;
    padding: 0px 23px;
}

.category li .menu-of-home li:nth-child(1){
    padding: 0px 23px;
}

.category li .menu-of-home li a, .category li .menu-of-page li a, .category li .menu-of-portfolio li a, .category li .menu-of-blog li a, .category li .menu-of-shop li a{
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    color: rgb(160, 158, 158);
    position: relative;
}

.category li .menu-of-home li:nth-child(1) a{
    color: #fff;
}

.category li .menu-of-home li a::before, .category li .menu-of-page li a::before, .category li .menu-of-portfolio li a::before, .category li .menu-of-blog li a::before, .category li .menu-of-shop li a::before{
    content: "";
    width: 0px !important;
    height: 2px;
    position: relative;
    top: 1px;
}

.category li .menu-of-home li:nth-child(1) a::before{
    margin-right: 10px;
    width: 8px !important;
}

.category li .menu-of-home li a:hover::before, .category li .menu-of-page li a:hover::before, .category li .menu-of-portfolio li a:hover::before, .category li .menu-of-blog li a:hover::before, .category li .menu-of-shop li a:hover::before{
    margin-right: 10px;
    width: 8px !important;
}

.category li:nth-child(1):hover .menu-of-home, .category li:nth-child(2):hover .menu-of-page,.category li:nth-child(3):hover .menu-of-portfolio, .category li:nth-child(4):hover .menu-of-blog, .category li:nth-child(5):hover .menu-of-shop{
    height: auto; 
    visibility: visible; 
    opacity: 1; 
    overflow: visible;
    transition: 0.5s;
}

.category li .menu-of-page li a, .category li .menu-of-home li a, .category li .menu-of-portfolio li a, .category li .menu-of-blog li a, .category li .menu-of-shop li a{
    padding: 5px 0px;
}

.category li .menu-of-page li:nth-child(1) a, .category li .menu-of-home li:nth-child(1) a, .category li .menu-of-portfolio li:nth-child(1) a, .category li .menu-of-blog li:nth-child(1) a, .category li .menu-of-shop li:nth-child(1) a{
    padding-top: 15px;
}

@media (max-width: 570px){
    .container{
        padding: 0px 20px !important;
    }
    .menu-mobile{
        position: absolute;
        left: 60px;
    }
}

.arrowRight, .arrowRight-1, .arrowRight-2, .arrowRight-3{
    color: rgb(160, 158, 158);
    display: inline;
    position: absolute;
    right: 6px;
    top: 4px;
    cursor: pointer;
}

.menu-of-portfolio .menu-children-of-portfolio{
    display: none;
    position: absolute;
    padding: 0px;
    width: 228px;
    left: 100%;
    top: -15px;
    background-color: #1d1d1d;
    transition: opacity .5s ease-out;
}

.menu-of-portfolio .menu-children-of-portfolios{
    display: none;
    position: absolute;
    padding: 0px;
    width: 228px;
    left: 100%;
    top: -9px;
    background-color: #1d1d1d;
    transition: opacity .5s ease-out;
}

.menu-of-blog .menu-children-of-blog{
    display: none;
    position: absolute;
    padding: 0px;
    width: 228px;
    left: 100%;
    top: -15px;
    background-color: #1d1d1d;
    transition: opacity .5s ease-out;
}

.menu-of-shop .menu-children-of-shop{
    display: none;
    position: absolute;
    padding: 0px;
    width: 228px;
    left: 100%;
    top: -15px;
    background-color: #1d1d1d;
    transition: opacity .5s ease-out;
}

.appear-layout:hover .menu-children-of-portfolio, .appear-single:hover .menu-children-of-portfolios,.appear-post-types:hover .menu-children-of-blog, .appear-shop-pages:hover .menu-children-of-shop{
    display: block;
}

.demo{
    height: 2000px;
}