.kyr-por-wrapper, .kyr-contact-warpper{
    width: auto;
    height: auto;
    display: inline-block;
    position: relative;
}

.kyr-por-item{
    width: 100%;
    height: 100%;
    padding: 12px 12px 12px 0px;
}

.kyr-por-item img{
    max-width: 100%;
}

.kyr-por-inner{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.kyr-por-image{
    z-index: 1000;
}

.kyr-por-image, .kyr-por-text-holder{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.kyr-por-text-holder{
    display: block;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: 0.5s;
}

.kyr-por-text-wrapper{
    padding: 12px;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.kyr-por-text{
    width: 100%;
    height: auto;
    display: inline-block;
}

.kyr-por-text-title h3{
    display: inline-block;
    height: auto;
    width: auto;
}

.kyr-por-text-style, .kyr-por-text-linkStyle{
    z-index: 5;
    white-space: nowrap;
    font-size: 26px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
    font-family: Marcellus;
    text-transform: uppercase;
    visibility: inherit;
}

.kyr-por-text p{
    font-size: 16px !important;
}

.kyr-por-text-holder:hover{
    background-color: rgba(47, 45, 45, 0.6);
    background-size: cover;
    z-index: 0;
}

.kyr-por-text-holder:hover .kyr-por-text-wrapper{
    display: flex;
}

.kyr-por-link{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}

.row{
    width: 100%;
    height: 100%;
    margin-right: 0px !important; 
    margin-left: 0px !important;
}

@media (max-width: 770px){
    .col-md-6{
        padding: 10px 0px 10px 0px !important;
    }
}
/*contact css*/
.kyr-Trademark-warpper{
    width: 100%;
    display: inline-block;
}
.kyr-wrapper{
    margin: 40px 0px;
}

.kyr-Trademark-for-slider{
    display: flex;
    align-items: center;
    padding: 12px 15px;
}
.kyr-Trademark-items{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.kyr-Trademark-items-image{
    padding: 0px 10px;
}
.kyr-Trademark-items-image:focus{
    outline: none !important;
}

.kyr-Trademark-items-image img, .slick-track{
    width: auto;
    height: auto;
    display: inline-block;
}